.accordion {
    position: relative;

    .arcoIris {
        position: absolute;
        width: 150px;
        right: 230px;
        visibility: visible;
    }

    .bolinhasVermelhas {
        position: absolute;
        left: 230px;
        bottom: 20px;
        width: 150px;
        visibility: visible;
    }
}


@media screen and (max-width: 768px) {
    .accordion {

        .arcoIris {
            width: 120px;
            right: 20px;
        }

        .bolinhasVermelhas {
            left: 20px;
            bottom: 0px;
            width: 120px;

        }
    }

}

@media screen and (min-width: 1900px) {
    .accordion {

        .arcoIris {
            visibility: hidden;
        }
    
        .bolinhasVermelhas {
            visibility: hidden;
        }
    }
}