@import "../global.scss";

.mainSection {
    margin-top: 1.2rem;
    margin-bottom: 4rem;
    background: url('../assets/images/fundo-linhavermelha.png');

    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;

    .tituloPrincipal {
        font-family: "Calibri", sans-serif;
        color: $vermelho;
        font-size: 4.5rem;
        font-weight: 800;

        span {
            background-color: $amarelo-forte;
            line-height: 1.5;
            padding: 4px 4px;
        }

    }

    .subtitulo {
        font-size: 1.2rem;
        background-color: $amarelo-claro;
    }

    .heroImagens {

        .imgHero {
            position: relative;
            width: 80%;
        }

    }


    .containerConhecaEquipe {
        background: url('../assets/images/linha-vermelha-maior.png');

        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;

        display: flex;
        flex-direction: column;



        .fotoConhecaEquipe {
            width: 70%;
        }

        .contentConhecaEquipe {

            margin-top: 6rem;

            .botao {
                background-color: $amarelo-forte;
                width: fit-content;

                color: $vermelho;
                font-family: 'Gilroy Extrabold', sans-serif;
                font-size: 1.5rem;
                text-decoration: none;
                line-height: 1.2;
                padding: 0.8rem 2rem;
                border-radius: 32px;
                border: 0;
                text-transform: uppercase;

                margin-top: 1.5rem;
                display: inline-block;

            }

        }


    }

    .florVermelha {
        position: absolute;
        right: 150px;
    }

}



@media screen and (max-width: 768px) {

    .mainSection {
        background: none;

        background-position: bottom right;
        background-repeat: no-repeat;


        .tituloPrincipal {
            font-weight: 800;
            line-height: 1.2;
            text-align: center;

        }

        .imgCrianca {
            width: 50%;
        }

        .subtitulo {
            font-size: 1.5rem;
            text-align: center;
        }


        .containerConhecaEquipe {

            background: none;
            margin-top: 1rem;


            .fotoConhecaEquipe {
                margin-top: 2rem;

            }

            .contentConhecaEquipe {
                margin-top: 0;
            }
        }

        .florVermelha {
            position: absolute;
            right: 0px;
        }
    }



}