@import '../global.scss';

.sectionModeloDenver {

    .containerModeloDenver {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        .boxDescricao {
            position: relative;
            z-index: -1;
            top: -130px;

            width: 100%;
            padding: 3.5rem 2rem 2rem;

            color: $branco;
            font-family: 'Calibri', sans-serif;
            font-size: 2rem;
            line-height: 1.2;
            font-weight: bold;
            text-align: center;

            background-color: $amarelo-forte;
            border-radius: 32px;
            box-shadow: 3px 3px 10px #c6c4c4;
        }

    }

    .rowDetalhes {
        margin-top: -100px;
        position: relative;

        .tresEstrelas {
            position: absolute;
            top: 70%;
            left: 3%;
            rotate: 235deg;
            width: 150px;
        }
      
        .boxDetalhes {
            padding: 2rem;
            margin: 12px;

            color: $branco;
            text-align: center;

            border-radius: 32px;
            
            display: grid;
            align-items: center;

           .boxTexto {
                margin: 0;
                padding: 0;
            }
        }

        .boxAzul {
            background-color: $azul;
        }

        .boxVermelho {
            background-color: $vermelho;
        }

    }


}

@media screen and (max-width: 768px) {

    .sectionModeloDenver {
        
        margin: 1rem 0;
        

        .containerModeloDenver {
            margin-top: 0;
            z-index: 0;

            .boxDescricao {
                top: 0px;
                box-shadow: 3px 3px 10px $amarelo-claro;
            }
        }

        .rowDetalhes {
            margin-top: 30px;
            position: relative;
    
            .tresEstrelas {
                position: absolute;
                top: 100%;
                left: 3%;
                rotate: 235deg;
                width: 150px;
            }
          
    
        }
    }

}