@import "../global.scss";

.sectionBox {
    margin: 1rem auto;
    padding: 4rem 8rem;

    width: 85%;

    position: relative;

    .florAmarela {
        position: absolute;
        z-index: -1;

        top: 0;
        left: 0;
    }

    .linhaAmarela {
        position: absolute;
        z-index: -1;

        top: 0;
        right: 0;
    }
}


@media screen and (max-width: 768px) {
    .sectionBox {
        margin: 1.2rem auto;
        padding: 1rem;

        width: 95%;

    }
}