@import '../global.scss';

.sectionCardsEquipe {
    margin: 3rem 0;
    background-image: url('../assets/images/fundo-equipe-cards.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

