@import "../global.scss";

.carouselResize {
    width: 460px;

}

.carrosselTituloContainer {
    background-image: url('../assets/images/features-fundo.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 290px;
    position: relative;
    width: 700px;


    .carrosselTitulo {
        color: $azul;
        font-family: 'Calibri', sans-serif;
        font-weight: 800;

        font-size: 2.6rem;

        position: absolute;
        top: 80px;
        left: 80px;
    }

}



@media screen and (max-width: 768px) {
    .carrosselTituloContainer {
        background: none;
        width: auto;
        height: auto;
        position: relative;

        margin-bottom: 3rem;

        .carrosselTitulo {
            font-size: 2.5rem;
            background-color: $branco;
            border-radius: 8px;

            position: relative;
            text-align: center;
            top: 20px;
            left: 0;

        }
    }
}