@import "../global.scss";

.vermelho {
    background-color: none;
}

.amarelo {
    background-color: none;
}

.azul {
    background-color: none;
}

.carouselResize {
    width: 600px;

}


.carrosselTituloContainer {
    background-image: url('../assets/images/features-fundo.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 290px;
    position: relative;
    width: 700px;


    .carrosselTitulo {
        color: $azul;
        font-family: 'Calibri', sans-serif;
        font-weight: 800;

        font-size: 2.6rem;

        position: absolute;
        top: 80px;
        left: 80px;
    }

}



@media screen and (max-width: 768px) {

    .vermelho {
        background-color: $vermelho;
    }
    
    .amarelo {
        background-color: $amarelo-forte;
    }
    
    .azul {
        background-color: $azul;
    }


    .carrosselTituloContainer {
        background: none;
        width: 100%;
        height: auto;

        margin-bottom: 3rem;
        
        text-align: center;
        
        .carrosselTitulo {
            font-size: 2.5rem;
            width: 100%;
            background-color: $branco;
            border-radius: 8px;

            position: relative;
            text-align: center;
            top: 20px;
            left: 0;

        }
    }
}