@import "../global.scss";



.containerFeatures {

    display: inline-block;
    position: relative;
    text-align: center;

    img {
        width: 400px;
    }

    .contentFeatures {
        padding: 4px 0;
        color: $branco;
        text-align: center;
        width: 100%;

        padding: 10%;

        position: absolute;
        top: 6%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .headerFeatures {
            padding: 4%;
            margin: 2% 6%;

            width: fit-content;
            padding: 0.5rem;

            text-align: center;
            font-size: 1.6rem;

            border: 1px solid $branco;
            border-radius: 32px;

            box-shadow: 3px 3px 20px #c6c4c4;
        }

        .textFeatures {
            margin-top: 2%;
            padding: 2%;

            width: 100%;

            font-size: 1.15rem;
            text-shadow: 2px 2px 10px #c6c4c4;

        }

    }
}

@media screen and (max-width: 768px) {

    .containerFeatures {
        display: flex;
        justify-content: center;

        img {
            width: 360px;
        }

        .contentFeatures {
            top: 3.5%;

            .headerFeatures {
                font-size: 1.5rem;
            }

            .textFeatures {
                font-size: 1rem;
                
            }
        }
    }
}


// @media screen and (max-width: 768px) {

//     .containerFeatures {
//         width: auto;
//         height: auto;
//         border-radius: 93% 7% 91% 9% / 8% 88% 12% 92%;

//         justify-content: space-between;
//         margin-bottom: 20px;

//         .contentFeatures {

//             .headerFeatures {
//                 font-size: 1.4rem;
//             }

//             .textFeatures {
//                 font-size: 1.4rem;
//                 line-height: 1.6rem;
//             }


//         }

//     }

// }