@import "../pages/global.scss";



.footer {
    background-image: url('../assets/images/footer-top.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    
    width: 100%;
    position: absolute;
    bottom: 0;

    padding: 2rem 0 0 0;
    margin: 0;
}

.contato-infos {
    width: 100%;
    margin-top: 4%;
    padding: 4% 6%;
    background-color: $azul;
    color: $branco;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        line-height: 1.6;
        margin-top: 1rem;
    }

    span {
        line-height: 1.6;
        margin-top: 1rem;
    }

    a {
        text-decoration: none;
        font-weight: 400;
        color: $branco;
    }

    a:hover {
        color: $vermelho;
    }

    .titulos-footer {
        padding-top: 1.2rem;
        font-weight: bold;
        line-height: 1.8;
    }

    .icones-footer {
        background-color: $branco;
        padding: 1rem;
        color: $cinza;
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }


}

@media screen and (max-width: 990px) {
    .footer {
        bottom: auto;
    }
}