@import "../global.scss";

.containerFotoDestaque {
    margin-top: 1%;
    position: relative;
    height: 800px;

    .foto {
        width: 100%;
        margin: 0;
        padding: 0;

        position: relative;
        z-index: -1;

    }

    .detalheTop {
        position: absolute;
        z-index: 1;
        top: 0;

        margin: 0;
        padding: 0;

        height: 210px;
        width: 100%;
        

    }

    .detalheBottom {
        position: absolute;
        z-index: 1;
        bottom: -50px;

        margin: 0;
        padding: 0;

        height: 230px;
        width: 100%;

    }
}

@media screen and (max-width: 768px) {
    .containerFotoDestaque {
        height: 300px;

        .foto {
            height: 300px;
        }

        .detalheTop {
            width: 100%;
            height: auto;

            top: -2px;
        }

        .detalheBottom {
            width: 100%;
            height: auto;

            bottom: -2px;
        }
    }
}