@import "../pages/global.scss";

.heroSection {
    margin-top: 1.2rem;
    background: url('../assets/images/fundo-linhavermelha.png');

    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    
    .tituloPrincipal {
        font-family: "Calibri", sans-serif;
        color: $vermelho;
        font-size: 4.5rem;
        font-weight: 800;

        span {
            background-color: $amarelo-forte;
            line-height: 1.5;
            padding: 4px 4px;
        }

    }

    .subtitulo {
        font-size: 1.2rem;
        background-color: $amarelo-claro;
    }

    .heroImagens {

        .imgCrianca {
            position: relative;
            width: 80%;
        }

    }

}



@media screen and (max-width: 768px) {

    .heroSection {

        background-position: bottom right;
        background-repeat: no-repeat;

        .tituloPrincipal {
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.2;

        }

        .imgCrianca {
            width: 50%;
        }


    }


}