@import '../global.scss';

.intervencaoSection {
    margin: 0 auto;
    // padding: 2rem 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .titulo {
        margin: 0 auto;
    }

    .conteudo {
        margin: 0 auto;
    }

}