@import "../pages/global.scss";


.container-fluid {

    .bgNav {
        background-color: $amarelo-claro;
    }

}

.navbar {
    --bs-navbar-padding-y: 1rem;
    --bs-navbar-padding-x: 1.2rem;
    --bs-navbar-nav-link-padding-x: 1.5rem;

    font-size: 1.05rem;
    letter-spacing: 0.05rem;
}

.navbarCollapse {
    flex-grow: 0;
}

.navbarCinza {
    color: $cinza;
}

.nav-link {
    color: $vermelho;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: $azul;
}

.navbar-toggler {
    background-color: $azul;
}

@media screen and (max-width: 768px) {

    .container-fluid {
        flex-direction: column;
        align-items: flex-end;

        .navbar-brand {
            display: none;
        }

        .navbar-toggler {
            margin-left: auto;
        }

        .bgNav {
            background-color: $branco;
        }

    }
}