@import "../global.scss";


.containerServicos {

    background-image: url('../assets/images/fundo-linhas2.png');
    background-position: 10px 0px;
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 12%;

    .tituloContainer {
        background-image: url('../assets/images/nuvem-menor.png');
        background-position: left top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 250px;
        position: relative;
        width: 600px;

        .titulo {
            color: $azul;
            font-family: 'Calibri', sans-serif;
            font-weight: 800;

            font-size: 2.6rem;

            position: absolute;
            top: 100px;
            left: 120px;
        }

    }

    .gridServicos {
        width: 80%;

        .icones {
            margin: auto;
            display: block;

        }

        .iconSubtitulos {
            font-size: 1.2rem;
            color: $cinza;
            text-align: center;

        }

    }

    .bolinhasAzuis {
        width: 250px;
        bottom: 0;
        position: relative;
        float: right;

    }
}




@media screen and (max-width: 768px) {
    .containerServicos {

        background-image: none;


        .tituloContainer {
            background-image: none;
            width: 100%;
            height: auto;
            position: relative;

            margin-bottom: 3rem;

            .titulo {
                font-size: 2.5rem;
                background-color: $branco;
                border-radius: 8px;

                position: relative;
                text-align: center;
                top: 20px;
                left: 0;

            }
        }

        .gridServicos {
            .icones {
                width: 60%;
            }
        }

        .bolinhasAzuis {
            width: 60%;
            display: block;
        }

    }
}