@import "../global.scss";



.TituloContainer {
    height: 290px;
    position: relative;
    width: 700px;

    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;

    .Titulo {
        
        font-family: 'Calibri', sans-serif;
        font-weight: 800;

        font-size: 2.6rem;

        position: absolute;
        top: 80px;
        left: 80px;
    }

}

.fundoBranco {
    background-image: url('../assets/images/features-fundo.png');
    color: $azul;
}

.fundoAzul {
    background-image: url('../assets/images/nuvem-azul.png');
    color: $branco;
}

