@import "../global.scss";

.TituloContainer {
    background-image: url('../assets/images/features-fundo.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 290px;
    position: relative;
    width: 700px;


    .Titulo {
        color: $azul;
        font-family: 'Calibri', sans-serif;
        font-weight: 800;

        font-size: 2.6rem;

        position: absolute;
        top: 80px;
        left: 80px;
    }

}
