$theme-colors: (
"dark": #fff,
"primary": #fbf8ea,
);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



$branco: #ffffff;
$amarelo-claro: #fbf8ea;
$amarelo-medio: #f9eb8a;
$amarelo-forte: #f1e36a;
$vermelho: #ef8184;
$vermelho-escuro: #e07c83;
$azul: #b6d9f1;
$cinza: #B1B1AE;
$cinza-escuro: #939393;

body {
    background: $amarelo-claro;
    color: $cinza;
    font-family: "Gilroy Light", sans-serif;
}
