$theme-colors: (
"dark": #fff,
"primary": #fbf8ea,
);

$navbar-dark-color: #fff;
$navbar-dark-hover-color: #b6d9f1;
$navbar-dark-active-color: #b6d9f1;

@import "../node_modules/bootstrap/scss/bootstrap.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



$branco: #ffffff;
$bege: #fbf8ea;
$amarelo-claro: #fbf8ea;
$amarelo-forte: #f2e46b;
$vermelho: #ef8184;
$azul: #b6d9f1;
$cinza: #B1B1AE;

body {
    background: $amarelo-claro;
    color: $cinza;
    font-family: "Gilroy Light", sans-serif;
}
